 


// Styles =================================================================

.image-grid
	display: flex
	flex:
		direction: row
		wrap: wrap
	align:
		content: center
		items: center
	justify-content: center
	max-width: 80%
	height: 100%
	margin: 0 auto
	padding: 0
	list-style: none

.image-grid__item
	display: flex
	flex:
		direction: column
		grow: 0
		shrink: 0
		basis: 360px
	align-items: stretch
	justify-content: center
	position: relative
	height: 220px
	margin-right: 14px
	margin-bottom: 14px
	transition: transform 0.14s ease-in, text-shadow 0.1s ease-in

	// Pseudo elements ------------------
	&:before
		content: ''
		visibility: hidden
		+absolute(0,0,0,0)
		background: none
		border-radius: 3px
		box-shadow: 0 10px 24px 0px rgba(0,0,0,0.06), 0 8px 20px -2px rgba(0,0,0,0.10), 0 6px 10px -6px rgba(0,0,0,0.20)
		transition: visibility 0.1s ease-out, opacity 0.1s ease-out
		opacity: 0

	// CSS state ------------------------
	&:hover

		&:before
			visibility: visible
			opacity: 1
	
.grid-item
	display: flex
	position: relative
	flex:
		direction: column
		grow: 1
		shrink: 1
	align-items: stretch
	justify-content: center
	text:
		decoration: none
	color: #eeeeee
	overflow: hidden

	// CSS state ------------------------
	&:hover
		.grid-item__image
			transform: scale(1.2)

		.grid-item__hover
			visibility: visible
			opacity: 1		

		.grid-item__name
			visibility: visible
			transform: scale(1)
			opacity: 1
			

.grid-item__image
	+absolute(0,0,0,0)
	background:
		size: cover
		position: center center
	transform: scale(1)
	will-change: transform
	transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	z-index: 0

.grid-item__hover
	visibility: hidden
	display: block
	+absolute(0,0,0,0)
	background: radial-gradient(transparentize($background-dark, 0.8), transparentize($background-dark, 0.3))
	box-shadow: inset 0 0 50px rgba(0,0,0,0.15)
	border-radius: 0
	transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	opacity: 0


.grid-item__name
	visibility: hidden
	display: flex
	flex:
		direction: column
		grow: 1
		shrink: 1
	align-items: center
	font:
		size: 2rem
		weight: 300	
	text:
		shadow: 0px 0px 30px rgba(0,0,0,0.40), 2px 2px 6px rgba(0,0,0,0.3)
	justify-content: center
	letter-spacing: 1px
	transform: scale(0.6)
	transform-origin: center center
	transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease
	opacity: 0
		