/*===========reset_code==========*/
*{
	margin: 0;
	padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h4,h6,p{
	margin: 0px;
}
:root{
 --styleFont:'Great Vibes', cursive;
 --prayColor: #EFC34A;
 --seconColor:;
}
/*===========header-nav-area==========*/
#header-nav-area{
  background: black;
  height: 20%;
  color: #fff;
}
.head-nav-icon i{
	padding: 2%;
}
.head-nav-middle-text{}
.head-nav-right-text p{
 float: right;
}

/*===========header-bottom-area==========*/
#header-area{
}
.logo p{
  font-family: var(--styleFont);
  font-weight: bold;
  font-size: 30px;
}
.navbar a p{
	color: #fff;
  margin: 0;
}
.logo p:hover{
  color: var(--prayColor);
}
.navbar-survival101 {
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(7,7,7,1) 50%, rgba(0,0,0,1) 55%, rgba(19,19,19,1) 64%, rgba(15,8,15,1) 67%, rgba(5,2,5,1) 91%, rgba(17,17,17,1) 91%, rgba(16,15,16,1) 95%, rgba(15,13,15,0.61) 99%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(50%, rgba(7,7,7,1)), color-stop(55%, rgba(0,0,0,1)), color-stop(64%, rgba(19,19,19,1)), color-stop(67%, rgba(15,8,15,1)), color-stop(91%, rgba(5,2,5,1)), color-stop(91%, rgba(17,17,17,1)), color-stop(95%, rgba(16,15,16,1)), color-stop(99%, rgba(15,13,15,0.61)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(7,7,7,1) 50%, rgba(0,0,0,1) 55%, rgba(19,19,19,1) 64%, rgba(15,8,15,1) 67%, rgba(5,2,5,1) 91%, rgba(17,17,17,1) 91%, rgba(16,15,16,1) 95%, rgba(15,13,15,0.61) 99%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(7,7,7,1) 50%, rgba(0,0,0,1) 55%, rgba(19,19,19,1) 64%, rgba(15,8,15,1) 67%, rgba(5,2,5,1) 91%, rgba(17,17,17,1) 91%, rgba(16,15,16,1) 95%, rgba(15,13,15,0.61) 99%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(7,7,7,1) 50%, rgba(0,0,0,1) 55%, rgba(19,19,19,1) 64%, rgba(15,8,15,1) 67%, rgba(5,2,5,1) 91%, rgba(17,17,17,1) 91%, rgba(16,15,16,1) 95%, rgba(15,13,15,0.61) 99%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(7,7,7,1) 50%, rgba(0,0,0,1) 55%, rgba(19,19,19,1) 64%, rgba(15,8,15,1) 67%, rgba(5,2,5,1) 91%, rgba(17,17,17,1) 91%, rgba(16,15,16,1) 95%, rgba(15,13,15,0.61) 99%);
 }
#navigation  li a{
	color: #fff;
  font-size: 14px;
  font-weight: 450;
}
#navigation  li a:hover{
   color: var(--prayColor);
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
}
 
/*===========slider-area==========*/
#slider-area{
}
.mySlides {
  display:none;
}
.slider{
  height: 100vh; 
  overflow: hidden;
   
} 
.mySlides{
 width: 100%;
  }
/*====================================================================
              story-area css                                    
=====================================================================*/
#story-area{
   margin: 10% 0;
}
.story-content h1{
  font-family: var(--styleFont);
}
.story-content h2{}
.story-content p{}
.story-bg{
  height: 350px;
  overflow: hidden;
}
.story-bg-1{
  transform: rotate(-5deg);
  position: relative;
  border:10px solid var(--prayColor);
  width: 90%;
}
.story-bg-1 img{
  width: 100%;
   
}
.story-bg-2{
  width: 100%;
  transform: translateY(-100px);
  transform: rotate(15deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  overflow: hidden;
  border:10px solid var(--prayColor);
}
.story-bg-2 img{
  width: 100%;   
}
/*====================================================================
              opaning-area css                                    
  =====================================================================*/
  #opaning-area{
    margin: 6% 0;
  }
  .opaning-wrapper{
   background: url(../images/opaning.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   width : 100%;
   height: 100vh;
   color : #fff;
  }
  .opaning-wrapper{
      height: 50vh;
      background-color: red;
  }
  .opaning-hadding{}
 
  .opaning-hadding h1{
    padding:2% 0 1%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              0;
    font-weight: bold;
    text-shadow: 2px 2px 20px  black;
  }
  .opaning-hadding h2{
    padding-bottom: 2%;
    font-family: var(--styleFont);
    color: var(--prayColor);
    text-shadow: 2px 2px 20px  black;
  }
  .haddin-border{


  }
  .opaning-box{
    display: flex;
    justify-content: center;
  }
  .opaning-box h3{
  color: var(--prayColor);
  }
  .opaning-middel{
    margin: 0 2%;
    border-left:10px double var(--prayColor);
  }
  #opaning-area h5{
    font-size: 15px;
    text-align: center;
    text-shadow: 2px 2px 20px  black;
    padding-top: 2%;
  }
 .opaning-left div,.opaning-right div{
   justify-content: center;
   text-align: center;
   text-shadow: 2px 2px 20px  black;
 }

 
/*===========menu-css==========*/
#menu-area{}
#menu-area h1{
  text-align: center;
}
.menu-title{
  display: flex;
  justify-content: center;
  margin:10px;
}
.menu-title div{
  margin:0 2%;
}
 .menu-items {
  position: relative;
  width: 100%;
  color: #fff;
  text-shadow: 5px 0 100px black;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.menu-item-ovrelay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.menu-items:hover .image {
  opacity: 0.8;
  /*transform: scale(1.5);*/
    }
.menu-items:hover .menu-item-ovrelay {
  opacity: 1;
}
#menu-btn{
  background: var(--prayColor);
  padding:  5px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin:100px 0;
} 
/*===========team-area-css==========*/
#team-area{
  margin:6% 0;
}
.team-hadding h1{
  font-weight: bold;
  margin-bottom: 1%;
}
.team-hadding h2{
  font-family: var(--styleFont);
}
.team-hadding p{
  margin:1% 10% 3% 10%;
}
.team-member{

  transition: .8s;
}
.team-member:hover{
  box-shadow: 0 0 20px var(--prayColor);
  transform:translateY(-1%);
}
.team-member img{
  width: 100%;
 height: 280px;
}
.team-member h3{
  font-size: 20px;

}
.team-member p{
  font-family: var(--styleFont);
  font-style: italic;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: bold;
}
.team-member i{
  font-size: 20px;
  padding: 0 3%;
  margin:2% 0 8% 0;
 
  color: #606060;
}
.team-member i:hover{
    color: var(--prayColor);
}
/*===========portfolio-css==========*/
#portfolio-area{}
 .glider span{
   font-size: 30px;
   font-style: bold;
 }
 .glider h3{
    margin-top: 15%;
    font-size: 20px;
 }
.cd-fixed-bg {  
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
 }
.cd-fixed-bg.cd-fixed-bg--1 {
  background-image: url("../images/opaning-1.jpg");
  background-size: cover;
   position: relative;
   z-index: 1;
   color: #fff;
  }
.cd-fixed-bg.cd-fixed-bg--1:after{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;  
    opacity: .8;
    z-index: -1;
 }
.cd-scrolling-bg {
  min-height: 100%;
}
 .glider-contain {
    width    : 90%;
    max-width: 997px;
    margin   : 0 auto;
   }
 .glider div{
  height: 350px;
  }       
 .glider-slide {
    min-height: 150px;
  }
 .glider-slide img {
    width: 100%;
  }
/*===========contract-css==========*/
 #contract-area{
  margin:6% 6%;
 }
 #contract-area h1{
  font-weight: bold;
  text-align: center;
  margin-bottom: 1%;
 }
 #contract-area h2{
  font-family: var(--styleFont);
  text-align: center;
}
.contract-left input{}
.contract-left input[type="text"],input[type="email"]{
   width: 100%;
   padding: 5%;
   margin:2% 0;

}
.contract-right textarea{
    resize: none;  
    width:100%;
    margin:2% 0;
    height: 290px;
    padding: 20px;
}
/* ============= bottom-area==========*/
 #bottom-area{
  background: black;
  padding: 5%;
 }
 .bottom-area-icon{
  justify-content: center;
 }
 .bottom-area-icon a i{
   color: #595959;
   padding:.5%;
   font-size: 1em;
   border: 1px solid  #595959;
   border-radius: 50%;
   background: #595959;
   color: #fff;
 }
 .bottom-area-icon a i:hover{
   background: var(--prayColor);
 }
 .bottom-area-icon{

 }
 /*=====================================================
                    menu-css
========================================================*/
/*=========menu-slider==========*/
#menu-slider{
  background: url(../images/slide1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
} 
#menu-slider h1{
  padding-top: 
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 50px black;
}
#menu-slider p{
   margin: 0 20%;
   text-align: center;
   color: #fff;
   text-shadow: 2px 2px 50px black;
}
#menu-item-TOP h2{
   border-bottom: 2px solid var(--prayColor);
   padding: 3% 0;
}
.single-menu-item{
  margin: 5% 0;
}                   
.single-menu-item h3{
  font-size: 20px;
  color: var(--prayColor);
}                   
.single-menu-item span{
  font-size: 35px;
  letter-spacing: 5px;
}                   
.single-menu-item{}
/*=======menu-item-LUNCH===============*/
#menu-item-LUNCH{}
.menu-item-LUNCH-bg{
  background:url(../images/slide3.jpg);
  background-attachment:fixed;
  background-size: cover;
  height:40vh;
}
.menu-item-LUNCH-bg h1{
  font-size:3em;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px black;
  padding: 5% 0 1% 0;
}
.menu-item-LUNCH-bg p{
    color: #fff;
    text-align: center;
    margin: 0 25%;
    text-shadow: 2px 2px black;
}
#menu-item-DINNER{}
.menu-item-DINNER-bg{
  background: url(../images/slide1.jpg);
  background-size: cover;
  background-attachment:fixed;
  height: 40vh;
}
.menu-item-DINNER-bg h1{
  font-size:3em;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px black;
  padding: 5% 0 1% 0;
}
.menu-item-DINNER-bg p{
    color: #fff;
    text-align: center;
    margin: 0 25%;
    text-shadow: 2px 2px black;
}
/*=======menu-item-DRINKS===========*/
#menu-item-DRINKS{}
.menu-item-DRINKS-bg{
  background: url(../images/slide3.jpg);
  background-attachment:fixed;
  background-size: cover;
  height: 40vh;
}
.menu-item-DRINKS-bg h1{
  font-size:3em;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px black;
  padding: 5% 0 1% 0;
}
.menu-item-DRINKS-bg p{
    color: #fff;
    text-align: center;
    margin: 0 25%;
    text-shadow: 2px 2px black;
}
/*		Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {}
/*		Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {}
/*		Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}